git+https://github.com/PSLmodels/openfisca-uk
git+https://github.com/ubicenter/ubicenter.py
git+https://github.com/PSLmodels/synthimpute
plotly
flask
flask_cors
rdbl
kaleido
google-cloud-storage>=1.42.0
gunicorn
